.logo-small{
    width : 80px;
    height: 80px;
    font-size : 50px;
}

.logo-small:hover{
    font-size : 60px;
}

.contact{
    padding:20px;
}
.contact-form{
    padding:20px;
}


.services-wrapper{
    padding:10%;
    background-image: linear-gradient(#20b2aa,#b3d3d1);
    color:white;
}

.services-wrapper .title{
    margin-bottom : 5%;
}

.team{
    background-color:lightsalmon;
    color:white;
}

@media(max-width:768px){
    .nav-item :hover{
        background-color:rgba(0, 0, 0, 0.6);
        border-radius : 5px;
    }
}
@media (max-width:480px){
    .carousel{
        display:none;
    }
}